<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd"
         version="4.0">


    <servlet>
        <servlet-name>Sendemail</servlet-name>
        <servlet-class>servlet.sendemail_Servlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Sendemail</servlet-name>
        <url-pattern>/Sendemail</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>Register</servlet-name>
        <servlet-class>servlet.register_Servlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Register</servlet-name>
        <url-pattern>/Register</url-pattern>
    </servlet-mapping>


    <servlet>
        <servlet-name>Login</servlet-name>
        <servlet-class>servlet.login_Servlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Login</servlet-name>
        <url-pattern>/Login</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>Logout</servlet-name>
        <servlet-class>servlet.logout_Servlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Logout</servlet-name>
        <url-pattern>/Logout</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>Findpw</servlet-name>
        <servlet-class>servlet.findpw_Servlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Findpw</servlet-name>
        <url-pattern>/Findpw</url-pattern>
    </servlet-mapping>


    <servlet>
        <servlet-name>Search</servlet-name>
        <servlet-class>servlet.Search_Servlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Search</servlet-name>
        <url-pattern>/Search</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>MyInfo</servlet-name>
        <servlet-class>servlet.MyInfo_Servlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>MyInfo</servlet-name>
        <url-pattern>/MyInfo</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>JudgeVip</servlet-name>
        <servlet-class>servlet.JudgeVip_Servlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>JudgeVip</servlet-name>
        <url-pattern>/JudgeVip</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>Glylogin</servlet-name>
        <servlet-class>servlet.Glylogin_Servlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Glylogin</servlet-name>
        <url-pattern>/Glylogin</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>Addmovie</servlet-name>
        <servlet-class>servlet.Addmovie_Servlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Addmovie</servlet-name>
        <url-pattern>/Addmovie</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>GlyInfo</servlet-name>
        <servlet-class>servlet.GlyInfo_Servlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>GlyInfo</servlet-name>
        <url-pattern>/GlyInfo</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>GlyLogout</servlet-name>
        <servlet-class>servlet.Glylogout_Servlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>GlyLogout</servlet-name>
        <url-pattern>/GlyLogout</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>JoinVip</servlet-name>
        <servlet-class>servlet.JoinVip_Servlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>JoinVip</servlet-name>
        <url-pattern>/JoinVip</url-pattern>
    </servlet-mapping>
</web-app>