*{
    margin: 0;
    padding: 0;
}
.wrap{
    margin-top: 6px;
    width:220px;
    word-break:keep-all;
    white-space:nowrap;
    overflow:hidden;
    text-overflow:ellipsis;
    font-size: 15px;
}

/*@font-face {*/
/*    font-family: MiLan;*/
/*    src: url("../fonts/ff.ttf");*/
/*}*/

h2{
    font-size:28px;
    color:#000;
    font-weight:400;
}

a{
    text-decoration-line: none;
}
b{
    color: white;
}
span{
    color: white;
}
p{
    color: #000;
}
p:hover {
    color:#ff5c38;
    /*font-family: MiLan, serif;*/
}

li{
    width:auto;
    height:11.25%;
    line-height: 50px;
    background-color: rgb(34, 34, 45);
    display: block;
    cursor: pointer;
    padding-left: 45px;
}
li:hover{
    background-color: rgb(20, 21, 30);
}
li p{
    color: white;
    font-size: 16px;
}
li p:hover{
    color:#ff5c38 !important;
    font-size: 21px !important;
}